@import "base";
@import "variables";

.a-button {
    outline: none; 
    text-decoration: none;
    button{
        font-weight: 600;
        border-radius: 0.4em;
        padding: 1em 2.44em;
    }

    .a-button__continue{
        color: var(--white);
        background-color: var(--blue);
        padding: 1em 7em;
        border: 0.13em solid var(--blue);
    }
    .a-button__continue:hover{
        color: var(--gray);
        background-color: var(--white);
        border-color: var(--blue-obscure);
        transition: 0.5s all;
    }

    .a-button__paymentMethod{
        width: 5.18em;
        text-align: center;
        color: var(--gray);
        background-color: var(--gray4);
        border: 0.13em solid var(--gray4);
    }
    .--activate{
        color: var(--white);
        background-color: var(--blue);
        border: 0.13em solid var(--blue);
    }
}

