@import "base";
@import "variables";

.texto-form{
    color: var(--blue);
    font-weight: 700;
    font-size: 1.5em;
}

.text-shop-product{
    color: var(--black);
    font-weight: 700;
}

.title-product{
    font-weight: 700;
}

.price-product{
    font-weight: 600;
    font-size: 1.1em;
}

.discount-product{
    color: var(--blue);
    font-weight: 600;
    font-size: 0.9em;
}

.delate-product{
    color: var(--blue);
}