@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
:root {
  /* Font Family*/
  --fontFamily: "Poppins", sans-serif;
  /*Colores */
  --black: #000;
  --white: #fff;
  --white2: #F8F8FA;
  --gray: #222;
  --gray2: #F2F3F5;
  --gray3: #c4c4c4;
  --gray4: #EFEFEF;
  --blue: #5640FF;
  --blue-obscure: #1d127e;
  --darkBlue: #000425;
  --darkblue2: #000D29;
  --red: #F22A40;
  --red2: #fc3535;
  /* Font Weights*/
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  /* Gradient */
  --blue-to-lightblue: linear-gradient(180deg, rgba(48,21,253,1) 0%, rgba(86,64,255,1) 100%);
}

.main-section {
  --bodyColor: var(--darkBlue);
  --bodyBgColor: var(--white);
}

.alternate-section {
  --bodyColor: var(--white);
  --bodyBgColor: var(--blue);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fontFamily);
  font-size: 14px;
}

section {
  color: var(--bodyColor);
  background-color: var(--bodyBgColor);
}

h1 {
  font-size: 54px;
  font-weight: var(--bold);
}

h2 {
  font-size: 26px;
  font-weight: var(--bold);
}

h3 {
  font-size: 20px;
  font-weight: var(--medium);
}

.container {
  --containerGap: 0 7.5vw;
  max-width: 1310px;
  padding: var(--containerGap);
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .container {
    --containerGap: 0 50px;
  }
}

.content {
  padding-top: var(--contentSpace, 100px);
  padding-bottom: var(--contentSpace, 100px);
}

ul li {
  list-style: none;
}

button {
  font-family: var(--fontFamily);
}

.button-form-continue {
  background-color: var(--blue);
}

button:focus, input[type=submit]:focus, input:focus {
  outline: none;
}

button, input[type=submit] {
  cursor: pointer;
}

.a-button {
  outline: none;
  text-decoration: none;
  margin-inline: auto;
  padding-inline: 0.3em;
}
.a-button button {
  font-weight: 600;
  border-radius: 0.4em;
  padding: 1.3em 1em;
}
.a-button .a-button__continue {
  color: var(--white);
  background-color: var(--blue);
  padding: 1em 7em;
  border: 0.13em solid var(--blue);
}
.a-button .a-button__continue:hover {
  color: var(--gray);
  background-color: var(--white);
  border-color: var(--blue-obscure);
  transition: 0.5s all;
}
.a-button .a-button__paymentMethod {
  text-align: center;
  color: var(--gray);
  background-color: var(--gray4);
  border: 0.13em solid var(--gray4);
}
.a-button .--activate {
  color: var(--white);
  background-color: var(--blue);
  border: 0.13em solid var(--blue);
}

:root {
  --navSize: 58px;
}

header {
  position: fixed;
  z-index: 9999;
  width: 100%;
}
header .header-inner {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 50px;
  height: var(--navSize);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-inner .header-logo .logo img {
  display: block;
}
header .header-inner .header-menu .main-menu {
  display: flex;
  align-items: center;
}
header .header-inner .header-menu .main-menu .menu-item.menu-item-carrito a {
  position: relative;
  display: block;
  width: 21px;
  height: 21px;
}
header .header-inner .header-menu .main-menu .menu-item.menu-item-carrito a::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../../source/img/png/icons/carrito.png");
  background-size: cover;
}
header .header-inner .header-menu .main-menu .menu-item.menu-burger .hamburger-toggle {
  width: 18px;
  height: 12px;
  padding: 0;
  position: relative;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 0;
  cursor: pointer;
}
header .header-inner .header-menu .main-menu .menu-item.menu-burger .hamburger-toggle .burger-box {
  width: 100%;
  height: 2px;
  background: var(--white);
  transition: all ease 0.2s;
}
header .header-inner .header-menu .main-menu .menu-item.menu-burger .hamburger-toggle .burger-box::before, header .header-inner .header-menu .main-menu .menu-item.menu-burger .hamburger-toggle .burger-box::after {
  content: "";
  height: 2px;
  width: 100%;
  background: var(--white);
  position: absolute;
  transition: all ease 0.2s;
}
header .header-inner .header-menu .main-menu .menu-item.menu-burger .hamburger-toggle .burger-box::before {
  top: 0;
  left: 0;
}
header .header-inner .header-menu .main-menu .menu-item.menu-burger .hamburger-toggle .burger-box::after {
  bottom: 0;
  left: 0;
}
header .header-inner .header-menu .main-menu .menu-item:not(:last-child) {
  margin-right: 20px;
}

header + section .container {
  padding-top: var(--navSize);
}

.loginhero {
  width: 100%;
  height: 100%;
  position: relative;
}

.login-hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.login-hero-bg img {
  min-width: 100%;
  min-height: 100%;
}

.login-hero-content {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 120px 1fr 120px;
}

.login-header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.login-hero-text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.login-hero-text .titulo-1 {
  color: #fff;
  margin-bottom: 20px;
  text-align: right;
  font-size: 26px;
}

.login-hero-text .subtitulo {
  color: var(--white);
  text-align: right;
  font-size: 16px;
}

.login-footer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.login-in {
  padding: 0 35px;
  width: 100%;
}

.login-in .error {
  color: var(--white);
  background: #fc3535;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: -15px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.login-in-social {
  margin-top: 35px;
  display: grid;
  grid-row-gap: 15px;
}

.login-in-social .Parrafo {
  text-align: center;
}

.login-in-social .IconBox {
  display: flex;
  justify-content: center;
}

.login-in-social .IconBox img {
  margin: 0 5px;
  cursor: pointer;
}

.login-in-form {
  margin-top: 40px;
}

.login-in-form input {
  width: 100%;
  height: 50px;
}

.login-in-form input[type=email], .login-in-form input[type=password] {
  border: 1px solid grey;
  padding: 0 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.login-in-form input[type=submit] {
  margin-top: 50px;
  border-radius: 10px;
  border: none;
  background-color: var(--blue);
  color: var(--white);
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: 30px;
}

.login-in-form input[type=submit]:hover {
  background-color: var(--darkBlue);
}

.LoginRegister {
  padding: 0 35px;
  width: 100%;
}

.LoginRegister .error {
  color: var(--white);
  background: var(--red2);
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: -15px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.LoginRegister__Social {
  margin-top: 35px;
  display: grid;
  grid-row-gap: 15px;
}

.LoginRegister__Social .Parrafo {
  text-align: center;
}

.LoginRegister__Social .IconBox {
  display: flex;
  justify-content: center;
}

.LoginRegister__Social .IconBox img {
  margin: 0 5px;
  cursor: pointer;
}

.LoginRegister__Form {
  margin-top: 40px;
}

.LoginRegister__Form input {
  width: 100%;
  height: 50px;
}

.LoginRegister__Form input[type=email], .LoginRegister__Form input[type=password], .LoginRegister__Form input[type=text] {
  border: 1px solid grey;
  padding: 0 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.LoginRegister__Form .FormCheck {
  display: flex;
  align-items: center;
}

.LoginRegister__Form .FormCheck input[type=checkbox] {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.LoginRegister__Form .FormCheck .is-term {
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}

.LoginRegister__Form input[type=submit] {
  margin-top: 40px;
  border-radius: 10px;
  border: none;
  background-color: var(--blue);
  color: var(--white);
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: 30px;
}

.LoginRegister__Form input[type=submit]:hover {
  background-color: var(--darkBlue);
}

.login-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--white);
}

.login-form-content {
  width: 100%;
  height: 100%;
}

.login-form-switch {
  width: 100%;
  height: 60px;
  border-bottom: 3px solid #e0e0e0;
  padding: 0 35px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.login-form-switch a, .login-form-switch div {
  display: flex;
  color: var(--black);
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.login-form-switch a .titulo-form, .login-form-switch div .titulo-form {
  font-weight: 700;
}

.login-form-switch a .switch-stick, .login-form-switch div .switch-stick {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 5px;
  background-color: var(--black);
  transition: all 0.3s;
}

.login-form-switch .is-active .switch-stick, .login-form-switch a:hover .switch-stick, .login-form-switch div:hover .switch-stick {
  width: 100%;
}

.login-view {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "log";
}

.login-hero-section {
  grid-area: hero;
  display: none;
}

.login-log-form {
  grid-area: log;
}

@media screen and (min-width: 990px) {
  .login-view {
    grid-template-columns: 1fr 420px;
    grid-template-rows: 1fr;
    grid-template-areas: "hero log";
  }
  .login-hero-section {
    display: block;
  }
}
@media (orientation: portrait) {
  .login-view {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "log";
  }
  .login-hero-section {
    display: none;
  }
}
.respaldo {
  height: 63.08px;
  color: var(--white);
  background-color: inherit;
}

.title-respaldo {
  text-align: left;
  font-size: 11px;
}

.respaldo-box-logos {
  width: 233px;
  background-color: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*Layout*/
.container-full {
  width: 100%;
  padding: 0 10px;
  min-width: 300px;
}

.section-type-1 {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (min-width: 770px) {
  .container-full {
    width: 100%;
    padding: 0 30px;
    min-width: 300px;
  }
}
@media screen and (min-width: 990px) {
  .container-full {
    width: 100%;
    padding: 0 50px;
    min-width: 300px;
  }
}
.hero-section {
  background-image: url("../../source/img/jpg/Hero-Section-Bg.jpg");
  background-size: cover;
  background-position: center center;
}
.hero-section .container .content {
  --contentSpace: 150px;
}

.input-form {
  border: 0.15em solid var(--gray3);
  border-radius: 0.6em;
  display: flex;
  margin: 0.45em;
}
.input-form .input-form__discount {
  margin: 0.7em auto 0.7em 0.3em;
  padding-inline: 0.5em;
  font-size: 1.1em;
}
.input-form .input-form__icon-send {
  transform: scale(1.5);
  padding-inline-end: 0.7em;
}

.--paymentInformation {
  margin: 0.8em auto 0.8em 0.8em;
  width: max-content;
}

.-date {
  display: inline-block;
}
.-date .--date {
  width: 4em;
  margin: 0.8em 1em;
}

.texto-form {
  color: var(--blue);
  font-weight: 700;
  font-size: 1.5em;
}

.text-form-shop {
  padding: 0.5em;
  font-size: 1.5em;
  font-weight: 700;
}

.text-shop-product {
  color: var(--black);
  font-weight: 700;
}

.title-product {
  font-weight: 700;
  width: 11em;
}

.price-product {
  font-weight: 700;
  font-size: 1.1em;
}

.discount-product {
  color: var(--blue);
  font-weight: 600;
  font-size: 0.9em;
}

.delate-product {
  color: var(--blue);
  font-weight: 600;
}

.imagen-product {
  width: 10em;
  height: 7.8em;
  object-fit: cover;
  border-radius: 0.4em;
}/*# sourceMappingURL=main.css.map */