@import '../organismos/main.scss';

body{
    height: 100%;
}

@media (min-width: 375px){
    .card-product{
        .imagen-product{
            width: 12em;
        }
    }
}

@media (min-width: 600px) {
    .product-shop{
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s all;
    }
}

@media (min-width: 425px){
    .card-product{
        .imagen-product{
            height: 7.3em;
        }
        .product__info{
            .title-product{
                width: 14em;
            }
        }
    }
}

@media (min-height: 667px){
    body{
        height: 100vh;
        display: flex;
        flex-direction: column;
        .product-shop{
            height: inherit;
            display: grid;
            // align-content: space-between;
            .box-paycard{
                margin-block: 2em;
            }
        }
    }
}

@media (min-height: 844px){
    .product-shop{
        .box-paycard{
            margin-block: 10em 1em;
        }
    }
}


@media (min-width: 425px){
    .product-shop{
        .list_products{
            .product__info{
                .title-product{
                    width: 16em;
                    font-weight: 600;
                }
            }
        }
    }
}

@media (min-height: 844px){
    .product-shop{
        .list_products{
            margin-block:4em 1em;
            .imagen-product{
                height: 8em;
                width: 12em;
            }
        }
    }
    
}

@media (min-width: 1024px){
    .product-shop{
        grid-template-columns: repeat(2, auto);
        align-content: center;
        .list_products{
            margin: 1em;
            .card-product{
                .imagen-product{
                    width: 15em;
                    height: 10em;
                }
                .product__info{
                    .title-product{
                        font-size: 1.5em;
                    }
                    .discount-product{
                        font-size: 1em;
                    }
                    .delate-product{
                        font-size: 1.1  em;
                    }
                    .price-product{
                        font-size: 1.5em;
                        text-align: end;
                    }
                }
            }
        }
        .box-paycard{
            width: 28em;
            .input-form__discount{
                padding: 0.4em 0.8em;
            }
            .a-button__paymentMethod{
                font-size: 1.3em;
                padding-block: 1em;
            }
        }
    }
}

@media (min-width: 1440px){
    .product-shop{
        .list_products{
            .card-product{
                .imagen-product{
                    width: 19em;
                }
                .product__info{
                    grid-template-areas:"title title price"
                                        "descuento descuento descuento"
                                        "delate delate delate";
                    .title-product{
                        width: 25em;
                        font-size: 1.7em;
                    }
                    .discount-product, .delate-product{
                        font-size: 1.2em;
                    }
                    .price-product{
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
}