@import '../organismos/main.scss';

body{
    height: 100%;
}

@media (min-width: 375px){
    .card-product{
        .imagen-product{
            width: 12em;
        }
    }
}

@media (min-width: 600px) {
    .product-shop{
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s all;
    }
}

@media (min-width: 425px){
    .card-product{
        .imagen-product{
            height: 7.3em;
        }
        .product__info{
            .title-product{
                width: 14em;
            }
        }
    }
}



@media (min-height: 667px){
    body{
        height: 100vh;
        display: flex;
        flex-direction: column;
        .product-shop{
            height: inherit;
            display: grid;
            align-content: space-between;
            .box-paycard{
                margin-block: 2em;
            }
        }
    }
}

@media (min-height: 844px){
    .product-shop{
        .box-paycard{
            margin-block: 10em 1em;
        }
    }
}


@media (min-width: 425px) or (min-height: 844px){
    .product-shop{
        .list_products{
            margin-block:4em 1em;
            .imagen-product{
                height: 8em;
                width: 12em;
            }
            .product__info{
                .title-product{
                    width: 16em;
                    font-weight: 600;
                }
            }
        }
    }
}