.list_products{
    display: grid;
    grid-gap: 0.3em;
    .card-product{
        margin: 0.6em 0.3em;
        .product__info{
            .discount-product{
                display: flex;
            }
        }
    }
}